.editor-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.section-content {
    background: var(--surface);
    /* border-bottom: 1px solid var(--border); */
    /* padding-bottom: var(--space-8); */
}

.section-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: var(--space-4);
    color: var(--text-main);
    border-left: 4px solid var(--primary);
    padding-left: var(--space-3);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-2);
}

/* On larger screens, maybe 2 cols for short inputs? */
@media (min-width: 1024px) {
    .form-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--space-4);
    }

    .input-group:has(input[name="fullName"]),
    .input-group:has(input[name="jobTitle"]) {
        grid-column: span 2;
    }
}